body {
    background-color: #222831;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #76ABAE;
}

.d-blockw-100 {
    height: 400px;
    width: 1200px;
    margin-left: 350px;
    margin-right: auto;
    object-fit: cover;
}

.carousel-control-prev {
    margin-left: 250px;
}

.carousel-control-next {
    margin-right: 250px;
}

.slogan-under-carousel {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #76ABAE;
}

.goals {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #76ABAE;
    margin: 30px;
 }


#categories {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #76ABAE;
}

#deals {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #76ABAE;
}
.clothing-categories, .deals-text {
    text-align: center;
}

#about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #76ABAE;
    text-align: center;
}

.category-hats {
    margin-left: 150px;
}

.category-shirts {
    margin-left: 1350px;
    margin-top: -390px;
}

.category-pants {
    margin-left: 150px;
}

.category-socks {
    margin-left: 1350px;
    margin-top: -375px;
}

.deal1 {
    margin-left: 150px;
    margin-top: 70px;
}

.deal2 {
    margin-left: 1350px;
    margin-top: -370px;
}

.category-hats img {
    width: 300px;
    height: auto;
}

.category-shirts img {
    width: 200px;
    height: auto;
}

.category-pants img {
    width: 300px;
    height: auto;
}

.category-socks img {
    width: 250px;
    height: auto;
}

.deal1 img {
    width: 300px;
    height: auto;
}

.deal2 img {
    width: 250px;
    height: auto;
}

#about {
    margin-top: 50px;
}